$column-count: () !default;
$gutter: () !default;

@function columns($count) {
    $result: 1;
    @for $_ from 1 through $count {
        $result: 100% / $count;
    }
    @return $result;
}
  
@mixin column{
    @for $i from 1 through $column-count{
        .col-#{$i}{
        
            flex: 0 0 columns($column-count) * $i;
            max-width: columns($column-count) * $i;    
        }
    }
    
    @include mq-min($sm){
        @for $i from 1 through $column-count{
            .col-sm-#{$i}{
                flex: 0 0 columns($column-count) * $i;
                max-width: columns($column-count) * $i;    
            }
        }
    }
    
    @include mq-min($md){
        @for $i from 1 through $column-count{
            .col-md-#{$i}{
                flex: 0 0 columns($column-count) * $i;
                max-width: columns($column-count) * $i;    
            }
        }
    }
    
    @include mq-min($lg){
        @for $i from 1 through $column-count{
            .col-lg-#{$i}{
                flex: 0 0 columns($column-count) * $i;
                max-width: columns($column-count) * $i;    
            }
        }
    }
    
    @include mq-min($gl){
        @for $i from 1 through $column-count{
            .col-gl-#{$i}{
                flex: 0 0 columns($column-count) * $i;
                max-width: columns($column-count) * $i;    
            }
        }
    }
    
    @include mq-min($xl){
        @for $i from 1 through $column-count{
            .col-xl-#{$i}{
                flex: 0 0 columns($column-count) * $i;
                max-width: columns($column-count) * $i;    
            }
        }
    }
}


@if map.get($settings, column) == true { 
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: $row;
        margin-right: $row;
    }

    [class*="col"]{
        padding: 0 $gutter;
    }

    .col{
        flex: 1 1 auto;
        max-width: auto;
    }

    @include column;
}