@use "sass:map";

$container: () !default;
$gutter: () !default;

@mixin container {
    @each $size, $value in $container{
       @if $size != "default"{  
            .container__#{$size}{
                margin: 0 auto;
                padding: 0 $gutter;
                width: 100%;
                max-width: $value;
            }
       } @else {
           .container{
                margin: 0 auto;
                padding: 0 $gutter;
                width: 100%;
                max-width: $value;
           }
       }
    }
}

@if map.get($settings, container) == true {  
    @include container;
}