@use "sass:map";

$white: () !default;
$yellow: () !default;
$green: () !default;

$list1: $white 0%, $yellow 60%, $green 100%; 

@mixin gradient($direction, $color-list) {  
    background: -webkit-linear-gradient($direction, $color-list);
    background: -moz-linear-gradient($direction, $color-list);
    background: -o-linear-gradient($direction, $color-list);
    background: linear-gradient($direction, $color-list);  
}

.gradient__left{
    @include gradient(left, $list1);
}

.gradient__right{
    @include gradient(right, $list1);
}