$margin: map.get($spacer, margin);
$padding: map.get($spacer, padding);

@mixin spacer{
    @each $name, $top, $right, $bottom, $left in  $margin{
        @if $top == null {
            .m__#{$name}{
                margin-right: $right;
                margin-bottom: $bottom;
                margin-left: $left;
            }
        } @else if $right == null {
            .m__#{$name}{
                margin-top: $top;
                margin-bottom: $bottom;
                margin-left: $left;
            }
        } @else if  $bottom == null {
            .m__#{$name}{
                margin-top: $top;
                margin-right: $right;
                margin-left: $left;
            }
        } @else if  $left == null {
            .m__#{$name}{
                margin-top: $top;
                margin-right: $right;
                margin-bottom: $bottom;
            }
        } @else {
            .m__#{$name}{
                margin: $top $right $bottom $left;   
            }
        }
    }
    
    @each $name, $top, $right, $bottom, $left in  $padding{
        @if $top == null {
            .p__#{$name}{
                margin-right: $right;
                margin-bottom: $bottom;
                margin-left: $left;
            }
        } @else if $right == null {
            .p__#{$name}{
                margin-top: $top;
                margin-bottom: $bottom;
                margin-left: $left;
            }
        } @else if  $bottom == null {
            .p__#{$name}{
                margin-top: $top;
                margin-right: $right;
                margin-left: $left;
            }
        } @else if  $left == null {
            .p__#{$name}{
                margin-top: $top;
                margin-right: $right;
                margin-bottom: $bottom;
            }
        } @else {
            .p__#{$name}{
                margin: $top $right $bottom $left;   
            }
        }
    }
}

@if map.get($settings, spacer) == true {  
    @include spacer;
}