$mobile-first: () !default;
$element-space: () !default;
$typography: () !default;

$media-list : map.get($typography, tags);

@mixin typography {
    @each  $media, $heading, $fontFamily, $fontSize, $lineHeight, $fontWeight, $color, $letterSpacing, $marginTop, $marginBottom in $media-list{
        $tab-list : map.get($media-list, $media);
        
        @if  #{$media} == "default" {
            @each $heading, $fontFamily, $fontSize, $lineHeight, $fontWeight, $color, $letterSpacing, $marginTop, $marginBottom in $tab-list {
                #{$heading}{
                    font-family: $fontFamily;
                    font-size: $fontSize;
                    line-height: $lineHeight;
                    font-weight: $fontWeight;
                    color: $color;
                    letter-spacing: $letterSpacing; 
                    margin-top: $marginTop; 
                    margin-bottom: $marginBottom; 
                }
            }
        } @else {
            $media-width: () !default;

            @if $mobile-first == true {
                $media-width : min-width;
            } @else {
                $media-width : max-width;
            }

            @media screen and ($media-width: #{$media}) {
                @each $heading, $fontFamily, $fontSize, $lineHeight, $fontWeight, $color, $letterSpacing, $marginTop, $marginBottom in $tab-list {
                    #{$heading}{
                        font-family: $fontFamily;
                        font-size: $fontSize;
                        line-height: $lineHeight;
                        font-weight: $fontWeight;
                        color: $color;
                        letter-spacing: $letterSpacing; 
                        margin-top: $marginTop; 
                        margin-bottom: $marginBottom; 
                    }
                }
      
            } 
        }
    }
}

@if map.get($settings, typography) == true {  
    @include typography;
}