---
layout: home
---

<section class="default-settings">
    <div class="default-settings__title">
        <h1>Default Settings</h1>
        <p>Write below in right column to set default styling of the elements</p>
    </div>

    <div class="default-settings__row">
        <div class="default-settings__row--columns tabs-main visual">
            <nav class="visual--tabs">
                <div class="tab-item"><a href="#tab1">Elements</a></div>
                <div class="tab-item active"><a href="#tab2">Contents</a></div>
            </nav>

            {% include theme/default/visual/visual.html %}

            <div id="viewer"></div>
        </div>
        <div class="default-settings__row--columns tabs-main editor">
            <div class="editor-options">
                {% include theme/default/editor/editor-options.html %}
            </div>

            <div class="editor-inner">
                {% include theme/default/editor/editor.html %}
            </div>
        </div>
    </div>
</section>