html, body, .mainWrapper{
    height: 100%;
}

body{
     background-color: #d4fffd;
}

.default-settings{
    padding: 20px 0;
    
    
    &__title{
        padding: 0px 20px 50px 20px;
        font-family: 'Dosis', sans-serif;

        h1 {
            font-size: 30px;
            line-height: 1.5;
            font-weight: bold;
            color: #111e29;
            font-family: 'Dosis', sans-serif;
            margin: 0 0 10px 0;

            &:after{
                content: '';
                display: block;
                width: 50px;
                height: 2px;
                background-color: orange;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 18px;
            font-family: 'Dosis', sans-serif;
            font-weight: 400;
            color: #444;
        }
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        min-height: calc(100vh - 164px);

        &--columns{
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            flex-direction: column;

            &.editor{
                padding: 0 20px;

                .editor-inner{
                    background-color: #111e29;
                    color: #fff;
                    padding: 50px 20px 20px 20px;
                    border-radius: 10px;
                    height: 100%;

                    .tab-content{
                        height: 100%;                        
                    }
                }

                textarea{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    color: #fff;
                    border: 0;
                    resize: none;
                    overflow: visible;
                    

                    &::-webkit-scrollbar {
                        width: 5px;
                        cursor: pointer;
                    }
                    &::-webkit-scrollbar-track {
                        background: rgba(255, 255, 255, 0.137); 
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(255, 255, 255, 0.137); 
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: rgba(255, 255, 255, 0.137); 
                    }
                }
            }

            &.visual{
                padding: 0 20px;

                .title{
                    font-family: 'Dosis', sans-serif;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    color: #b4b4b4;
                }

                #tab-contents{
                    background-color: #fff;
                    border: 1px solid #c3bfb9;
                    border-radius: 10px;
                    padding: 60px 20px;
                }
            }
        }
    }

    .block-space{
        padding: 60px 0;

        + .block-space{
            padding-top: 0;
        }
    }

    .button-column{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }

    .visual--tabs{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;

        > div{
            a{
                border-radius: 5px;
                background-color: orange;
                color: #000;
                padding: 5px 10px;
                cursor: pointer;
                display: block;
                font-family: 'Dosis', sans-serif;
                font-weight: 400;
                
                &:hover{
                    background-color: #333;
                    color: #fff;
                }
            }


            &:not(.active){
                a{
                    border: 0;
                    background-color: #fff;
                    color: #333;
                }
            }
        }

    }
    
    .tab-content{
        display: none;
        position: relative;

        .editor-utility-nav{
            position: absolute;
            bottom: 100%;
            right: 0;
            z-index: 10;
            color: #fff;
            padding: 5px 15px 15px 0;

            .fa{
                cursor: pointer;

                &:not(:first-child){
                    margin-left: 10px;
                    padding-left: 10px;
                    border-left: 1px solid rgba(255,255,255, 0.3);
                }

                &:hover{
                    color: orange;
                }
            }
        }

        &.active{
            display: block;
        }
    }

    .editor-options{
        display: flex;
        justify-content: space-between;
        position: relative;

        
    }
}