
$settings: (
    // Fonts
    typography: false,
    
    // Alignment
    text-align: false,
    absolute-align: false,
    table-align: false,

    // Container
    container: false,

    // Column
    column: false,

    // Spacing
    section-space: false,
    spacer: false,

    // Flexbox
    flexbox: true,
);