<div id="tab3"  class="tab-content reset-css-block active">
    <div class="editor-utility-nav">
        <span class="copy fa fa-clipboard" title="Copy Code"></span>
        <span class="clear fa fa-trash-o" title="Clear Editor"></span>
    </div>
    {% include theme/default/editor/reset-css.html %}
</div>
<div id="tab4" class="tab-content default-css-block">
    <div class="editor-utility-nav">
        <span class="copy fa fa-clipboard" title="Copy Code"></span>
        <span class="clear fa fa-trash-o" title="Clear Editor"></span>
    </div>
    {% include theme/default/editor/default-css.html %}
</div>